extends layout

block content
  h1= title
  p Welcome to #[em Dumb Amazon]

  p Here are the following active categories
  p To view products in each category click on the category name

  if categories.length
    ul
      each category in categories
        li
          a(href=category.url) #{category.name}
          p #{category.description}
  else
    p There are no categories yet.

  a(href="/category/create") Add Category