extends layout

block content
  h1= title
  p Welcome to #[em Dumb Amazon]

  p The inventory has the following record counts:

  ul
    li #[strong Categories:] !{category_count}
    li #[strong Products:] !{product_count}